---
---

@import "{{ site.theme }}";

img {
  vertical-align: middle;
}

#repo-link {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5em;
    }

.release-description-container {
  margin-left: 1em;
}
